@import "tailwindcss";

.swiper-button-prev,
.swiper-button-next {
  color: #dd4949 !important; 
}
.mySwiper {
    height: 64vh !important;
}
.swiper-pagination-bullet-active {
  background-color: #ef4444 !important; 
}